* {
    box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    color: #222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/* Superinfo */

.superinfo-bg {
    background-color: #122ab2;
    color: #fff;
}

.superinfo {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superinfo a {
    color: inherit;
}

.superinfo p, .superinfo a {
    margin: 0 10px 10px 10px;
}

/* Menu */

.menu-bg {
    background-color: #2c70ff;
}

.menu {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 15px 0;
    flex-wrap: wrap;
}

.menu a {
    color: #fff;
}

.menu-logo a {
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menu-nav a {
    font-size: 1.25rem;
    display: block;
    padding: 10px;
}

.menu-nav a:hover {
    color: #122ab2;
}

/* Introdução */

.introducao {
    font-size: 3rem;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

/* Sobre */

.sobre {
    display: flex;
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    flex-wrap: wrap;
}

.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h1 {
    font-size: 3rem;
    margin-bottom: .5rem;
}

.sobre-info p {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: #7c7c7c;
}

.sobre-img {
    flex: 1 1 160px;
    gap: 0 10px;
}

.sobre-img img {
    object-fit: cover;
}